
body{
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f7f7f7;
}
#nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: start; */
    /* align-items: center; */
    /* padding: 0px 20px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.div1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.div2{
    /* text-align: center; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.s1{
    display: flex;
    font-family: sans-serif;
    margin-inline: 13px;
    margin-top: 0px;
    margin-bottom: 4px;
    color: gray;
}
.s2{
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-inline: 13px;
    color: gray; 
}
.material-symbols-outlined{
    color: gray;
    margin-inline: 10px;
    display: flex;
    justify-content: flex-end;
}
#mi-logo{
    width: 3vw;
    margin: 5px 5px 2px 25px;

}
p:hover{
    color: #ff7d22 ;
    cursor: pointer;
}
#mi-logo:hover{
    cursor: pointer;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}
#m1{
    display: flex;
    justify-content: center;
}
#s1{
    width: 87%;
    height: 41vh;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    

}
#s2{
    width: 87%;
    height: 41vh;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.msd1{
   width: 245px;
   height: 235px;
   /* border: 1px solid; */
   padding: 23px 18px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column; 
   background-color: white;
}
.box1{
    /* border: 1px solid; */
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box2{
    /* border: 1px solid; */
    height: 70%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
.desc1{
    /* border: 1px solid; */
    height: 25px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;

}
a{
    font-weight: bolder;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
.discount{
    /* border: 1px solid; */
    height: 25px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
}
.db{
    border: 1px solid #ff7d22;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    color: #ff7d22;
    background-color: 
    #fff0e5;
    padding: 5px 3px 5px 3px;
    box-sizing: border-box;
}
.price{
    /* border: 1px solid; */
    width: 30%;
    height: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px; 
    box-sizing: border-box;
    
}
.p-price{
    color: gray;
    font-size: small;
}
.pic{
    /* border: 1px solid; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px; 
    box-sizing: border-box;
}
.msd1:hover{
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     cursor: pointer;
}
#m2{
    display: flex;
    justify-content: center;
}
#box3{
    /* border: 1px solid; */
    height: 22vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    background-image: url(https://i03.appmifile.com/313_operator_in/05/06/2023/da85ab08b8be256a4ac91a43c02ad695.jpg?thumb=1&w=3360&f=webp&q=85);
    background-size: cover;
    background-position: center;
}
#box3:hover{
    cursor: pointer;
}
#box4{
    /* border: 1px solid; */
    width: 40%;
    height: 40%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
#box5{
    /* border: 1px solid; */
    width: 40%;
    height: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#box6{
    /* border: 1px solid; */
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#button{
    
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    padding: 8px 25px 8px 25px;
    box-sizing: border-box; 
}
#adapter{
    width: 100%;
}
#m3{
    display: flex;
    justify-content: center;
}